[Desktop Entry]
Type=Service
Icon=kde
X-KDE-ServiceTypes=
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Exec=homerunviewer

Name=KDE Home Run application

Comment=Displays KDE Home Run in a popup
