[Desktop Entry]
Name=Hello World
Comment=An example of Homerun Source
Type=Service
X-KDE-ServiceTypes=Homerun/Source
X-KDE-Library=homerun_source_recentdocuments

X-KDE-Homerun-Sources=RecentDocuments
X-KDE-Homerun-APIVersion=0
