[Desktop Entry]
Name=Recent Documents
Name[bs]=nedavnii dokumenti
Name[ca]=Documents recents
Name[ca@valencia]=Documents recents
Name[cs]=Nedávné dokumenty
Name[da]=Nylige dokumenter
Name[de]=Zuletzt geöffnete Dokumente
Name[el]=Πρόσφατα έγγραφα
Name[es]=Documentos recientes
Name[et]=Viimati kasutatud dokumendid
Name[fi]=Viimeisimmät tiedostot
Name[fr]=Documents récents
Name[ga]=Cáipéisí is Déanaí
Name[gl]=Documentos recentes
Name[hu]=Legutóbbi dokumentumok
Name[it]=Documenti recenti
Name[ko]=최근 문서
Name[lt]=Neseniai naudoti dokumentai
Name[mr]=अलिकडील दस्तऐवज
Name[nl]=Recente documenten
Name[pa]=ਤਾਜ਼ਾ ਡੌਕੂਮੈਂਟ
Name[pl]=Ostatnie dokumenty
Name[pt]=Documentos Recentes
Name[pt_BR]=Documentos recentes
Name[ro]=Documente recente
Name[ru]=Последние документы
Name[sk]=Nedávne dokumenty
Name[sl]=Nedavni dokumenti
Name[sv]=Senaste dokument
Name[tr]=Son Kullanılan Belgeler
Name[ug]=يېقىنقى پۈتۈكلەر
Name[uk]=Нещодавні документи
Name[x-test]=xxRecent Documentsxx
Name[zh_CN]=最近的文档
Comment=List recently opened documents
Comment[bs]=Lista nedavno otvaranih dokumenata
Comment[ca]=Llista dels documents oberts recentment
Comment[ca@valencia]=Llista dels documents oberts recentment
Comment[cs]=Seznam nedávno otevřených dokumentů
Comment[da]=Liste over nyligt åbnede dokumenter
Comment[de]=Zeigt die zuletzt geöffneten Dokumente an
Comment[el]=Εμφανίζει τα πρόσφατα ανοιγμένα έγγραφα
Comment[es]=Lista los documentos abiertos recientemente
Comment[et]=Viimati avatud dokumentide nimekiri
Comment[fi]=Viimeksi avattujen tiedostojen luettelo
Comment[fr]=Liste les documents récemment ouverts
Comment[gl]=Lista de documentos abertos recentemente
Comment[hu]=Legutóbb megnyitott dokumentumok listázása
Comment[it]=Elenca i documenti aperti di recente
Comment[ko]=최근 사용된 문서 목록
Comment[lt]=Parodyti neseniai naudotus dokumentus
Comment[mr]=अलिकडे उघडलेल्या दस्तऐवजांची यादी
Comment[nl]=Recent geopende documenten tonen
Comment[pa]=ਤਾਜ਼ਾ ਖੁੱਲ੍ਹੇ ਗਏ ਡੌਕੂਮੈਂਟ ਦੀ ਸੂਚੀ
Comment[pl]=Lista ostatnio otwieranych dokumentów
Comment[pt]=Listar os documentos abertos recentemente
Comment[pt_BR]=Lista dos documentos abertos recentemente
Comment[ro]=Lista documentelor deschise recent
Comment[ru]=Список последних открытых документов
Comment[sk]=Vypísať nedávno otvorené dokumenty
Comment[sl]=Prikaži seznam zadnje odprtih dokumentov
Comment[sv]=Lista senast öppnade dokument
Comment[tr]=En son açılan belgeleri listele
Comment[uk]=Список нещодавно відкритих документів
Comment[x-test]=xxList recently opened documentsxx
Comment[zh_CN]=列出最近打开的文档
Type=Service
X-KDE-ServiceTypes=Homerun/Source
X-KDE-Library=homerun_source_recentdocuments

X-KDE-PluginInfo-Name=RecentDocuments

X-KDE-Homerun-APIVersion=0
