[Desktop Entry]
Encoding=UTF-8
# ctxt: "Homerun" is a product name
Name=KDE Homerun Launcher
Name[da]=KDE Homerun-startmenu
Name[el]=Εκτελεστής KDE Homerun
Name[et]=KDE Homeruni käivitaja
Name[fr]=Lanceur Homerun pour KDE
Name[hu]=KDE Homerun indító
Name[nl]=Programmastarter van KDE Homerun
Name[pt]=Lançador Homerun do KDE
Name[pt_BR]=Lançador Homerun do KDE
Name[sv]=KDE Homerun startprogram
Name[uk]=Засіб запуску KDE Homerun
Name[x-test]=xxKDE Homerun Launcherxx

Comment=An application launcher
Comment[da]=Programstarter
Comment[el]=Εκτέλεση εφαρμογών
Comment[et]=Rakenduste käivitaja
Comment[fr]=Un lanceur d'applications
Comment[hu]=Egy alkalmazásindító
Comment[nl]=Een programmastarter
Comment[pt]=Um lançador de aplicações
Comment[pt_BR]=Um lançador de aplicativos
Comment[sk]=Spúšťač aplikácií
Comment[sv]=Ett startprogram
Comment[uk]=Засіб для запуску програм
Comment[x-test]=xxAn application launcherxx

Type=Service
ServiceTypes=Plasma/Applet
Icon=kde

X-KDE-Library=plasma_applet_homerunlauncher
X-KDE-PluginInfo-Author=Shaun M. Reich
X-KDE-PluginInfo-Email=shaun.reich@blue-systems.com
X-KDE-PluginInfo-Name=homerunlauncher
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
