[Desktop Entry]
Encoding=UTF-8
Name=Tasks (QML)
Name[cs]=Slovník (QML)
Name[de]=Wörterbuch (QML)
Name[es]=Diccionario (QML)
Name[et]=Sõnaraamat (QML)
Name[fr]=Dictionnaire (QML)
Name[nds]=Wöörbook (QML)
Name[nl]=Woordenboek (QML)
Name[pl]=Słownik (QML)
Name[pt]=Dicionário (QML)
Name[pt_BR]=Dicionário (QML)
Name[sv]=Ordlista (QML)
Name[uk]=Словник (QML)
Name[x-test]=xxDictionary (QML)xx
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=accessories-dictionary
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=300,200
X-KDE-PluginInfo-Author=Shaun M. Reich
X-KDE-PluginInfo-Email=shaun.reich@kdemail.net
X-KDE-PluginInfo-Name=org.kde.tasks
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
