[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Homerun/Source
Comment=Homerun source plugin
Comment[da]=Kildeplugin til Homerun
Comment[et]=Homeruni allikaplugin
Comment[nl]=Plug-in voor Homerun-bron
Comment[pt]='Plugin' de código do Homerun
Comment[pt_BR]=Plugin de código do Homerun
Comment[sv]=Homerun-källinsticksprogram
Comment[uk]=Додаток джерела до Homerun
Comment[x-test]=xxHomerun source pluginxx

[PropertyDef::X-KDE-Homerun-APIVersion]
Type=int
