[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Homerun/Source
Comment=Homerun source plugin

[PropertyDef::X-KDE-Homerun-APIVersion]
Type=int

[PropertyDef::X-KDE-Homerun-Sources]
Type=QStringList
