[Desktop Entry]
Type=Service
Icon=kde
X-KDE-ServiceTypes=
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Exec=homerunviewer

Name=KDE Homerun application
Name[bs]=KDE Homerun aplikacija
Name[ca]=Aplicació Homerun pel KDE
Name[ca@valencia]=Aplicació Homerun pel KDE
Name[cs]=Aplikace KDE Homerun
Name[da]=KDE Homerun-program
Name[de]=KDE-Homerun-Anwendung
Name[el]=Εφαρμογή KDE Homerun
Name[es]=Aplicación Homerun de KDE
Name[et]=KDE Homeruni rakendus
Name[fi]=KDE Homerun -sovellus
Name[fr]=Application Homerun pour KDE
Name[gl]=Aplicativo de KDE Homerun
Name[hu]=KDE Homerun alkalmazás
Name[it]=Applicazione Homerun di KDE
Name[ko]=KDE Homerun 프로그램
Name[lt]=KDE Homerun programa
Name[mr]=केडीई होमरन अनुप्रयोग
Name[nl]=Toepassing KDE Homerun
Name[pa]=ਕੇਡੀਈ ਹੋਮਰਨ ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Aplikacja Homerun KDE
Name[pt]=Aplicação Homerun do KDE
Name[pt_BR]=Aplicativo Homerun do KDE
Name[ro]=Aplicație KDE Homerun
Name[ru]=Приложение KDE Homerun
Name[sk]=Aplikácia KDE Homerun
Name[sl]=Program Homerun za KDE
Name[sv]=KDE Homerun-program
Name[tr]=KDE Homerun uygulaması
Name[uk]=Програма KDE Homerun
Name[x-test]=xxKDE Homerun applicationxx
Name[zh_CN]=KDE Homerun 应用程序

Comment=Displays KDE Homerun in a popup
Comment[bs]=Prikazuje KDE Homerun u iskočnom meniju
Comment[ca]=Mostra el Homerun per a KDE en una finestra emergent
Comment[ca@valencia]=Mostra el Homerun per a KDE en una finestra emergent
Comment[cs]=Zobrazuje KDE Homerun ve vyskakovacím okně
Comment[da]=Viser KDE Homerun i en pop-op
Comment[de]=Zeigt Homerun in einem Fenster an
Comment[el]=Εμφάνιση του KDE Homerun σε αναδυόμενο
Comment[es]=Muestra KDE Homerun en una ventana emergente
Comment[et]=KDE Homeruni näitamine hüpikdialoogina
Comment[fi]=Näyttää KDE Homerunin ponnahdusikkunassa
Comment[fr]=Affiche Homerun pour KDE dans une fenêtre qui apparaît
Comment[gl]=Mostra o Homerun de KDE nun menú emerxente
Comment[hu]=Megjeleníti a KDE Homerunt felugró ablakban
Comment[it]=Visualizza Homerun di KDE in una finestra a comparsa
Comment[ko]=KDE Homerun을 팝업으로 표시합니다
Comment[lt]=Rodyti KDE Homerun kaip iškylantį langą
Comment[mr]=केडीई होमरन पॉपअप मध्ये दर्शवितो
Comment[nl]=Toont KDE Homerun in een pop-up
Comment[pa]=ਪੋਪਅੱਪ ਵਿੱਚ ਕੇਡੀਈ ਹੋਮਰਨ ਵੇਖਾਉਂਦਾ ਹੈ
Comment[pl]=Wyświetla KDE Homerun w oknie wyskakującym
Comment[pt]=Mostra o Homerun do KDE numa janela
Comment[pt_BR]=Exibe o Homerun do KDE em um menu de contexto
Comment[ro]=Afișează KDE Homerun într-o fereastră-balon
Comment[ru]=Отображает KDE Homerun во всплывающем окне
Comment[sk]=Zobrazí KDE Homerun v popupe
Comment[sl]=Prikaže KDE Homerun v pojavnem oknu
Comment[sv]=Visar KDE Homerun i ett meddelandefönster
Comment[tr]=KDE Homerun'ı bir açılı pencerede görüntüler
Comment[uk]=Показує контекстну панель KDE Homerun
Comment[x-test]=xxDisplays KDE Homerun in a popupxx
Comment[zh_CN]=在弹出窗口中显示 KDE Homerun
