[Desktop Entry]
Name=Hello World
Name[bs]=Zdravo, svijete
Name[ca]=Hola món
Name[ca@valencia]=Hola món
Name[cs]=Hello World
Name[da]=Hej verden
Name[de]=Hallo Welt
Name[el]=Γεια σου κόσμε
Name[es]=Hola mundo
Name[et]=Tere, maailm
Name[fi]=Hei maailma
Name[fr]=Bonjour tout le monde
Name[gl]=Ola mundo
Name[hu]=Helló, világ
Name[it]=Ciao mondo
Name[ko]=Hello World
Name[lt]=Sveikas pasauli!
Name[mr]=हेल्लो वर्ल्ड
Name[nl]=Hallo wereld
Name[pa]=ਹੈਲੋ ਵਰਲਡ
Name[pl]=Witaj świecie
Name[pt]=Olá Mundo
Name[pt_BR]=Olá mundo
Name[ro]=Salut, lume
Name[ru]=Привет, мир
Name[sk]=Ahoj svet
Name[sl]=Pozdravljen svet
Name[sv]=Hello World
Name[tr]=Merhaba Dünya
Name[ug]=سالام دۇنيا
Name[uk]=Привіт, світе
Name[x-test]=xxHello Worldxx
Name[zh_CN]=Hello World
Comment=An example of Homerun Source
Comment[bs]=Primjer Homerun izvora
Comment[ca]=Un exemple de font per a Homerun
Comment[ca@valencia]=Un exemple de font per a Homerun
Comment[da]=Et eksempel på en Homerun-kilde
Comment[de]=Ein Beispiel einer Homerun-Quelle
Comment[el]=Ένα παράδειγμα πηγής του Homerun
Comment[es]=Un ejemplo de origen para Homerun
Comment[et]=Homeruni allika näide
Comment[fi]=Homerunin esimerkkilähde
Comment[fr]=Un exemple de service de Homerum
Comment[gl]=Un exemplo de fonte de Homerun
Comment[hu]=A Homerun forrás egy példája
Comment[it]=Un esempio di fonte di Homerun
Comment[ko]=Homerun 원본 코드 예제
Comment[lt]=Homerun šaltinio pavyzyds
Comment[mr]=होमरन स्रोताचे उदाहरण
Comment[nl]=Voorbeeld van een Homerun-bron
Comment[pa]=ਹੋਮਰਨ ਸਰੋਤ ਦੀ ਉਦਾਹਰਨ
Comment[pl]=Przykład źródła Homerun
Comment[pt]=Um exemplo de código do Homerun
Comment[pt_BR]=Exemplo de código do Homerun
Comment[ro]=Exemplu de sursă Homerun
Comment[ru]=Пример источника Homerun
Comment[sk]=Príklad zdroja Homerun
Comment[sl]=Primer izvorne kode za Homerun
Comment[sv]=Ett exempel på Homerun-källor
Comment[tr]=Homerun Kaynağının bir örneği
Comment[uk]=Приклад джерела Homerun
Comment[x-test]=xxAn example of Homerun Sourcexx
Comment[zh_CN]=一个 Homerun 源的例子
Type=Service
X-KDE-ServiceTypes=Homerun/Source
X-KDE-Library=homerun_source_helloworld

X-KDE-PluginInfo-Name=HelloWorld
X-KDE-Homerun-APIVersion=0
