[Desktop Entry]
Name=Hello World
Name[cs]=Hello World
Name[da]=Hej verden
Name[de]=Hallo Welt
Name[el]=Γεια σου κόσμε
Name[es]=Hola mundo
Name[et]=Tere, maailm
Name[fi]=Hei maailma
Name[gl]=Olá mundo
Name[hu]=Helló, világ
Name[lt]=Sveikas pasauli!
Name[nl]=Hallo wereld
Name[pa]=ਹੈਲੋ ਵਰਲਡ
Name[pt]=Olá Mundo
Name[pt_BR]=Olá mundo
Name[ro]=Salut lume
Name[sk]=Ahoj svet
Name[sv]=Hello World
Name[uk]=Привіт, світе
Name[x-test]=xxHello Worldxx
Name[zh_CN]=Hello World
Comment=An example of Homerun Source
Comment[da]=Et eksempel på en Homerun-kilde
Comment[el]=Ένα παράδειγμα πηγής του Homerun
Comment[es]=Un ejemplo de origen para Homerun
Comment[et]=Homeruni allika näide
Comment[fi]=Homerunin esimerkkilähde
Comment[hu]=A Homerun forrás egy példája
Comment[lt]=Homerun šaltinio pavyzyds
Comment[nl]=Voorbeeld van een Homerun-bron
Comment[pa]=ਹੋਮਰਨ ਸਰੋਤ ਦੀ ਉਦਾਹਰਨ
Comment[pt]=Um exemplo de código do Homerun
Comment[pt_BR]=Exemplo de código do Homerun
Comment[ro]=Exemplu de sursă Homerun
Comment[sk]=Príklad zdroja Homerun
Comment[sv]=Ett exempel på Homerun-källor
Comment[uk]=Приклад джерела Homerun
Comment[x-test]=xxAn example of Homerun Sourcexx
Comment[zh_CN]=一个 Homerun 源的例子
Type=Service
X-KDE-ServiceTypes=Homerun/Source
X-KDE-Library=homerun_source_helloworld

X-KDE-PluginInfo-Name=HelloWorld
X-KDE-Homerun-APIVersion=0
