[Desktop Entry]
Encoding=UTF-8
Name=SAL (QML)
Comment=QML version of SAL

Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
#,Plasma/Containment

#X-KDE-ParentApp=plasma-desktop
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Shaun M. Reich
X-KDE-PluginInfo-Email=sreich@kde.org
X-KDE-PluginInfo-Name=org.kde.sal
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
#X-Plasma-ContainmentCategories=desktop
X-Plasma-DefaultSize=290,340